node_modules
coverage
out
build
dist
worker
site/public
docs
*.sql
*.sh
*.svg
*.png
CHANGELOG.md
.next
.supabase
.prettierignore
.gitignore
.editorconfig
.gitattributes
**/yarn.lock*
*.toml
*.mdx
packages/website/public/robots.txt
packages/website/public/sitemap.xml
