# dotstorage edge gateway wrangler config.
name = "dotstorage-edge-gateway"
main = "./dist/worker.js"
compatibility_date = "2022-07-01"
compatibility_flags = [ "url_standard" ]
no_bundle = true

[build]
command = "npm run build"

# miniflare
[vars]
IPFS_GATEWAYS = "[\"http://127.0.0.1:9081\"]"
GATEWAY_HOSTNAME = 'ipfs.localhost:8787'
EDGE_GATEWAY_API_URL = 'http://localhost:8787'
DEBUG = "true"
ENV = "dev"

# PROD!
[env.production]
# name = "dotstorage-edge-gateway-production"
account_id = "fffa4b4363a7e5250af8357087263b3a" # Protocol Labs CF account
routes = [
  { pattern = "dag.haus/ipfs/*", zone_id = "f2f8a5b1c557202c6e3d0ce0e98e4c8e" },
  { pattern = "*.ipfs.dag.haus/*", zone_id = "f2f8a5b1c557202c6e3d0ce0e98e4c8e" },
  { pattern = "ipfs.dag.haus/*", zone_id = "f2f8a5b1c557202c6e3d0ce0e98e4c8e" },
  { pattern = "*.ipfs.dag.haus", zone_id = "f2f8a5b1c557202c6e3d0ce0e98e4c8e" },
  { pattern = "dag.haus/ipns/*", zone_id = "f2f8a5b1c557202c6e3d0ce0e98e4c8e" },
  { pattern = "*.ipns.dag.haus/*", zone_id = "f2f8a5b1c557202c6e3d0ce0e98e4c8e" },
  { pattern = "*.ipns.dag.haus", zone_id = "f2f8a5b1c557202c6e3d0ce0e98e4c8e" }
]

[env.production.vars]
GATEWAY_HOSTNAME = 'ipfs.dag.haus'
CID_VERIFIER_URL = 'https://cid-verifier.dag.haus'
DENYLIST_URL = 'https://denylist.dag.haus'
EDGE_GATEWAY_API_URL = 'https://api.nftstorage.link'
DEBUG = "false"
CID_VERIFIER_ENABLED = "false"
PERMA_CACHE_ENABLED = "false"
ENV = "production"

# TODO: Should point to general API in the future
[[env.production.services]]
binding = "API"
type = "service"
service = "nftstorage-link-api-production"
environment = "production"

[[env.production.services]]
binding = "CID_VERIFIER"
type = "service"
service = "dotstorage-cid-verifier-production"
environment = "production"

[[env.production.services]]
binding = "DENYLIST"
type = "service"
service = "dotstorage-denylist-production"
environment = "production"

[[env.production.unsafe.bindings]]
type = "analytics_engine"
dataset = "PUBLIC_RACE_WINNER_PRODUCTION"
name = "PUBLIC_RACE_WINNER"

[[env.production.unsafe.bindings]]
type = "analytics_engine"
dataset = "PUBLIC_RACE_TTFB_PRODUCTION"
name = "PUBLIC_RACE_TTFB"

[[env.production.unsafe.bindings]]
type = "analytics_engine"
dataset = "PUBLIC_RACE_STATUS_CODE_PRODUCTION"
name = "PUBLIC_RACE_STATUS_CODE"

# Staging!
[env.staging]
# name = "gateway-edge-gateway-staging"
account_id = "fffa4b4363a7e5250af8357087263b3a" # Protocol Labs CF account
routes = [
  { pattern = "*.ipfs-staging.dag.haus/*", zone_id = "f2f8a5b1c557202c6e3d0ce0e98e4c8e" },
  { pattern = "ipfs-staging.dag.haus/*", zone_id = "f2f8a5b1c557202c6e3d0ce0e98e4c8e" },
  { pattern = "*.ipfs-staging.dag.haus", zone_id = "f2f8a5b1c557202c6e3d0ce0e98e4c8e" },
  { pattern = "*.ipns-staging.dag.haus/*", zone_id = "f2f8a5b1c557202c6e3d0ce0e98e4c8e" },
  { pattern = "*.ipns-staging.dag.haus", zone_id = "f2f8a5b1c557202c6e3d0ce0e98e4c8e" }
]

[env.staging.vars]
GATEWAY_HOSTNAME = 'ipfs-staging.dag.haus'
CID_VERIFIER_URL = 'https://cid-verifier-staging.dag.haus'
DENYLIST_URL = 'https://denylist-staging.dag.haus'

# TODO: Should point to general API in the future
EDGE_GATEWAY_API_URL = 'https://api.nftstorage.link'
DEBUG = "true"
CID_VERIFIER_ENABLED = "false"
PERMA_CACHE_ENABLED = "false"
ENV = "staging"

# TODO: Should point to general API in the future
[[env.staging.services]]
binding = "API"
type = "service"
service = "nftstorage-link-api-staging"
environment = "production"

[[env.staging.services]]
binding = "CID_VERIFIER"
type = "service"
service = "dotstorage-cid-verifier-staging"
environment = "production"

[[env.staging.services]]
binding = "DENYLIST"
type = "service"
service = "dotstorage-denylist-staging"
environment = "production"

[[env.staging.unsafe.bindings]]
type = "analytics_engine"
dataset = "PUBLIC_RACE_WINNER_STAGING"
name = "PUBLIC_RACE_WINNER"

[[env.staging.unsafe.bindings]]
type = "analytics_engine"
dataset = "PUBLIC_RACE_TTFB_STAGING"
name = "PUBLIC_RACE_TTFB"

[[env.staging.unsafe.bindings]]
type = "analytics_engine"
dataset = "PUBLIC_RACE_STATUS_CODE_STAGING"
name = "PUBLIC_RACE_STATUS_CODE"

# Test!
[env.test]
workers_dev = true

[env.test.vars]
GATEWAY_HOSTNAME = 'ipfs.localhost:8787'
CID_VERIFIER_URL = 'http://cid-verifier.localhost:8787'
DENYLIST_URL = 'http://denylist.localhost:8787'
EDGE_GATEWAY_API_URL = 'http://localhost:8787'
DEBUG = "true"
CID_VERIFIER_ENABLED = "true"
PERMA_CACHE_ENABLED = "true"
ENV = "test"
