name: cid-verifier
on:
  push:
    branches:
      - main
    paths:
      - 'packages/cid-verifier/**'
      - '.github/workflows/cid-verifier.yml'
      - 'pnpm-lock.yaml'
  pull_request:
    paths:
      - 'packages/cid-verifier/**'
      - '.github/workflows/cid-verifier.yml'
      - 'pnpm-lock.yaml'
jobs:
  check:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.3
        with:
          version: 7
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm build:cid-verifier
      - name: Lint
        run: pnpm lint
  test:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.3
        with:
          version: 7
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm test:cid-verifier
  deploy-staging:
    name: Deploy Staging
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.3
        with:
          version: 7
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'pnpm'
        with:
          cache: 'pnpm'
      - run: pnpm install
      - name: Publish app
        uses: cloudflare/wrangler-action@2.0.0
        env:
          ENV: 'staging' # inform the build process what the env is
          SENTRY_TOKEN: ${{secrets.SENTRY_TOKEN}}
          SENTRY_UPLOAD: ${{ secrets.SENTRY_UPLOAD }}
        with:
          apiToken: ${{secrets.CF_GATEWAY_TOKEN }}
          workingDirectory: 'packages/cid-verifier'
          environment: 'staging'
  changelog:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    name: Release
    runs-on: ubuntu-latest
    outputs:
      releases_created: ${{ steps.tag-release.outputs.releases_created }}
    steps:
      - uses: GoogleCloudPlatform/release-please-action@v3
        id: tag-release
        with:
          path: packages/cid-verifier
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: node
          monorepo-tags: true
          package-name: cid-verifier
  release:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main' && needs.changelog.outputs.releases_created
    name: Release
    runs-on: ubuntu-latest
    needs:
      - check
      - test
      - changelog
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.3
        with:
          version: 7
      - uses: actions/setup-node@v3
        with:
          cache: 'pnpm'
          node-version: 16
          registry-url: 'https://registry.npmjs.org'
      - run: pnpm install
      - name: Deploy
        uses: cloudflare/wrangler-action@2.0.0
        env:
          ENV: 'production' # inform the build process what the env is
          SENTRY_TOKEN: ${{ secrets.SENTRY_TOKEN }}
          SENTRY_UPLOAD: ${{ secrets.SENTRY_UPLOAD }}
        with:
          apiToken: ${{ secrets.CF_GATEWAY_TOKEN }}
          workingDirectory: 'packages/cid-verifier'
          environment: 'production'